In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

   shoe size     height    class
0   8.518110  73.029460  seniors
1  10.301527  68.959677  seniors
2   7.386575  73.558042  seniors
3   9.477281  68.195558  seniors
4  10.910389  75.144672  seniors

In [4]:
test.head()

   shoe size     height    class
0  12.985509  66.632266  seniors
1   9.957683  70.057887  seniors
2  10.366656  67.945519  seniors
3  10.484072  74.846184  seniors
4  10.273374  66.690172  seniors

In [6]:
from sklearn.neighbors import KNeighborsClassifier
cols = ['shoe size', 'height']
cols2 = ['class']

x_train = train.as_matrix(cols)
y_train = train.as_matrix(cols2)
x_test = test.as_matrix(cols)
y_test = test.as_matrix(cols2)

In [9]:
knn = KNeighborsClassifier(n_neighbors = 3, weights='distance')
knn.fit(x_train, y_train.ravel())
output = knn.predict(x_test)

In [11]:
print(knn.predict([x_test[0]]))
print(y_test[0])

['seniors']
['seniors']

In [12]:
correct = 0.0
for i in range(len(output)):
    if y_test[i][0] == output[i]:
        correct += 1
correct / len(output)

0.9933333333333333

In [13]:
knn.score(x_test, y_test)

0.99333333333333329